@import 'src/styles/mixins';

.actionButtonContainer {
  @include flexbox-row;
  margin-top: auto;
  gap: 0.7rem;

  .actionButton {
    flex: 1;
    height: 3rem;
    font-size: var(--text-size-base);
    border: 1px solid var(--color-primary);
    border-radius: 0.4rem;
    cursor: pointer;

    &.confirmButton {
      color: var(--color-white);
      background: var(--color-primary);
    }

    &.deleteButton {
      color: var(--color-primary);
      background: var(--color-white);
    }
  }
}
