@import 'styles/mixins';

.container {
  position: absolute;
  top: 0.1rem;
  left: 2rem;

  .innerContainer {
    width: 12rem;
    padding: 0 0.3rem;
    background-color: var(--color-white);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .header {
      @include flexbox-row;
      padding: 0.8rem 0;

      .title {
        font-size: var(--text-size-sm);
        font-weight: var(--font-weight-semibold);
      }

      .arrow {
        width: 0.8rem;
        height: 0.8rem;
        cursor: pointer;

        &.prev {
          margin-right: 1.5rem;
        }

        &.next {
          margin-left: 1.5rem;
        }
      }
    }

    .days {
      @include flexbox-row;
      width: 100%;
      padding-bottom: 0.7rem;

      .day {
        @include flexbox-row;
        width: 2rem;
        font-size: var(--text-size-xs);
        font-weight: var(--font-weight-semibold);
      }
    }
  }
}
