@import 'src/styles/mixins';

.header {
  @include flexbox-row(space-between, center);
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.5rem 1rem 0.3rem;
  border-bottom: 0.8px solid var(--color-gray-3);
  z-index: 10;

  .time {
    font-weight: var(--font-weight-medium);
  }

  .status {
    @include flexbox-row;
    gap: 0.2rem;

    .wifi {
      margin-right: -0.1rem;
    }
  }
}
