@import 'src/styles/mixins';

.header {
  @include flexbox-row(space-between, center);
  width: 100%;
  padding: 1.2rem 1rem 0.3rem;

  .logo {
    @include flexbox;
    gap: 0.3rem;

    .logoIcon {
      width: 1.5rem;

      img {
        width: 100%;
      }
    }

    .title {
      font-size: 0.9rem;
      color: var(--color-gray-5);
    }
  }

  .search {
    width: 1.2rem;
    cursor: pointer;
  }
}
