@import 'styles/mixins';

.header {
  position: relative;
  gap: 1rem;
  min-height: 2.5rem;
  z-index: 300;

  .period {
    @include flexbox;
    margin-bottom: -0.2rem;
    font-size: var(--text-size-md);
    gap: 0.5rem;

    .startDate {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .guide {
    padding-left: 2rem;
    color: var(--color-gray-4);
  }
}
