@import 'src/styles/mixins';

.container {
  position: relative;
  width: 100%;
  min-height: 2.5rem;
  gap: 1rem;
  z-index: 300;

  .header {
    @include flexbox-row(space-between, center);
    width: 100%;
    padding-bottom: 0.8rem;

    .totalExpense {
      @include flexbox-row;
      margin-right: 1rem;
      font-size: var(--text-size-sm);
      font-weight: var(--font-weight-bold);
      color: var(--color-blue);

      span {
        font-size: var(--text-size-sm);
        color: var(--color-gray-4);
        font-weight: var(--font-weight-regular);
      }
    }
  }

  .weeksButtonWrap {
    @include flexbox;
    gap: 0.3rem;
    margin-bottom: 0.8rem;

    .weekButton {
      padding: 0.3rem 0.6rem;
      font-size: var(--text-size-xs);
      color: var(--color-pink);
      border: 1.5px solid var(--color-pink);
      border-radius: 1rem;
      opacity: 0.8;
      transition: background-color 0.2s ease-in;
      cursor: pointer;

      &.clicked {
        color: var(--color-white);
        background-color: var(--color-pink);
        opacity: 1;
      }

      &:hover {
        color: var(--color-white);
        background-color: var(--color-pink);
      }
    }
  }
}
