@import 'styles/mixins';

.container {
  position: relative;
  width: 100%;
  min-height: 2.5rem;
  gap: 1rem;
  z-index: 300;

  .dateTotalGroup {
    @include flexbox-row(space-between, center);
    width: 100%;
    padding-bottom: 1rem;

    .date {
      @include flexbox-row;

      .title {
        padding: 0 2rem;
        font-size: 1.2rem;
        font-weight: var(--font-weight-semibold);
      }

      .arrow {
        @include flexbox-row;
        font-size: 1.2rem;
        color: var(--color-gray-5);
        cursor: pointer;
      }
    }

    .totalExpense {
      @include flexbox-row;
      margin-right: 1rem;
      font-size: var(--text-size-lg);
      font-weight: var(--font-weight-bold);
      color: var(--color-blue);

      span {
        font-size: var(--text-size-md);
        color: var(--color-gray-4);
        font-weight: var(--font-weight-regular);
      }
    }
  }

  .weeksButtonWrap {
    @include flexbox;
    gap: 0.5rem;
    margin-bottom: 0.8rem;

    .weekButton {
      padding: 0.3rem 0.6rem;
      color: var(--color-white);
      border: 1.5px solid var(--color-pink);
      border-radius: 1rem;
      background-color: var(--color-pink);
      opacity: 0.8;
      transition: background-color 0.3s ease-in-out;
      cursor: pointer;

      &.clicked {
        color: var(--color-white);
        background-color: var(--color-dark-pink);
        opacity: 1;
      }

      &:hover {
        color: var(--color-white);
        background-color: var(--color-dark-pink);
      }
    }
  }
}
