@import 'src/styles/mixins';

.modalTitle {
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  margin-bottom: 1rem;
  text-align: center;
}

.noTagGuide {
  margin-bottom: 0.8rem;
  font-size: var(--text-size-lg);
  color: var(--color-gray-4);
  text-align: center;
}

.inputContainer {
  width: 100%;
  height: 21rem;
  margin-bottom: 1.2rem;
  overflow-y: auto;
}
