@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

:root {
  --color-primary: #7877b8;
  --color-background: #ede7e9;
  --color-pink: #f06d86;
  --color-dark-pink: #ae2c47;
  --color-blue: #83c7d5;
  --color-black: #282828;
  --color-white: #ffffff;

  --color-gray-1: #ececec;
  --color-gray-2: #d4d4d4;
  --color-gray-3: #adadad;
  --color-gray-4: #868686;
  --color-gray-5: #5e5e5e;
  --color-gray-6: #444444;
  --color-gray-7: rgba(40, 40, 40, 0.65);

  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  --text-size-xxs: 10px;
  --text-size-xs: 12px;
  --text-size-sm: 14px;
  --text-size-base: 16px;
  --text-size-md: 18px;
  --text-size-lg: 20px;
}

* {
  box-sizing: border-box;
}

html,
body,
.content {
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-wrap: break-word;
  background-color: var(--color-background);

  ::-webkit-scrollbar {
    display: block;
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-gray-2);
    border-radius: 10px;
  }

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  -webkit-font-smoothing: antialiased;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

input:active,
input:focus {
  outline: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
