@import 'src/styles/mixins';

.modalTitle {
  margin-bottom: 1.2rem;
  font-size: var(--text-size-md);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.mainContainer {
  width: 100%;
  max-height: 18rem;
  margin-bottom: 1.8rem;
  overflow-y: auto;
}
