@import 'styles/mixins';

.container {
  @include flexbox-column;
  padding: 2.5rem 0 1.5rem;

  .titleHeader {
    @include flexbox-column;
    margin-bottom: 1.5rem;

    .title {
      font-size: var(--text-size-xl);
      font-weight: var(--font-weight-bold);
    }
  }

  .mainImageContainer {
    width: 5.5rem;
    margin-bottom: 0.8rem;

    img {
      width: 100%;
    }
  }

  .randomPhrases {
    @include flexbox-column;
  }
}
