@import 'styles/mixins';

.container {
  @include flexbox-column;
  padding: 2.5rem 0 1.5rem;

  .titleHeader {
    @include flexbox-column;
    margin-bottom: 1.5rem;

    .title {
      font-size: var(--text-size-lg);
      font-weight: var(--font-weight-bold);
    }

    .subTitle {
      font-size: var(--text-size-md);
    }
  }

  .mainImageContainer {
    width: 6rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }
  }

  .randomPhrases {
    @include flexbox-column;
  }
}
