@import 'styles/mixins';

.container {
  @include flexbox-column;
  position: relative;
  width: 375px;
  height: 667px;
  margin: 0 auto;
  border-radius: 1.5rem;
  background-color: var(--color-white);
  transform: translateY(3%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: hidden;

  .innerContainer {
    width: 100%;
    height: 89%;
    padding: 1.5rem;
    margin: 1.25rem auto 0;
    overflow-y: auto;

    .addNewItemButton {
      @include flexbox-column;
      width: 100%;
      height: 100px;
      font-size: var(--text-size-md);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: 1rem;
      background-color: var(--color-background);

      .addNewItemIcon {
        font-size: var(--text-size-lg);
      }

      p {
        font-family: 'Nanum Pen Script';
        font-size: var(--text-size-md);
      }
    }
  }
}
