@import 'styles/mixins';

.container {
  @include flexbox-column;
  position: relative;
  width: 375px;
  height: 667px;
  margin: 0 auto;
  border-radius: 1.5rem;
  background-color: var(--color-white);
  transform: translateY(3%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: hidden;

  .innerContainer {
    width: 100%;
    height: 89%;
    padding: 1.5rem;
    margin: 1.25rem auto 0;
    overflow-y: auto;
  }
}
