@import 'styles/mixins';

.header {
  @include flexbox-row(space-between, flex-start);
  margin-bottom: 1rem;

  .period {
    @include flexbox;
    position: relative;
    gap: 1rem;

    .selectedDate {
      font-size: var(--text-size-md);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .totalExpense {
    margin-right: 1rem;
    font-size: var(--text-size-lg);
    font-weight: var(--font-weight-bold);
    color: var(--color-blue);
  }
}
