@import 'styles/mixins';

.background {
  position: fixed;
  width: 23rem;
  height: 30rem;
  z-index: 250;

  &.mini {
    width: 21rem;
    height: 18rem;
  }
}

.container {
  position: fixed;
  top: 15rem;
  left: 11.5rem;
  transform: translate(-50%, -50%);
  z-index: 300;

  &.mini {
    top: 28rem;
    left: 9.5rem;
  }

  .innerContainer {
    width: 15rem;
    padding: 0 0.4rem 0.6rem;
    background-color: var(--color-white);
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    &.mini {
      width: 13rem;
      padding: 0 0.3rem 0.4rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .days {
      @include flexbox-row(space-between, center);
      padding: 0 0.6rem 0.7rem;
      font-size: var(--text-size-sm);
      font-weight: var(--font-weight-semibold);

      &.mini {
        padding: 0 0.4rem 0.5rem;
      }
    }
  }
}
