@import 'styles/mixins';

.background {
  position: fixed;
  width: 23rem;
  height: 30rem;
  z-index: 250;
}

.container {
  position: fixed;
  top: 14.5rem;
  left: 11.5rem;
  transform: translate(-50%, -50%);
  z-index: 300;

  .innerContainer {
    width: 15rem;
    padding: 1rem 0.4rem 0.8rem;
    background-color: var(--color-white);
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    .header {
      @include flexbox-row;
      padding: 1rem 0;

      .title {
        padding: 0 2rem;
        font-size: var(--text-size-15);
        font-weight: var(--font-weight-semibold);
      }

      .arrow {
        margin-top: 0.1rem;
        font-size: 0.9rem;
        cursor: pointer;
      }
    }

    .days {
      @include flexbox-row(space-between, center);
      padding: 0 0.6rem 0.7rem;
      font-size: var(--text-size-sm);
      font-weight: var(--font-weight-semibold);
    }
  }
}
