@import 'src/styles/mixins';

.container {
  @include flexbox-column(flex-start, center);
  position: relative;
  width: 100%;
  height: 100%;

  .expenseItemList {
    @include flexbox-column(flex-start, center);
    width: 100%;
    height: 14.5rem;
    overflow: auto;

    .defaultContainer {
      @include flexbox-column;
      margin-top: 3rem;
      opacity: 0.5;

      .defaultImageContainer {
        width: 70px;
        height: 70px;
        margin-bottom: 0.5rem;
        opacity: 0.6;

        .defaultImage {
          width: 100%;
          height: 100%;
          max-width: 100%;
        }
      }

      .defaultGuide {
        font-size: var(--text-size-md);
        text-align: center;
      }
    }

    .expenseItem {
      width: 97%;
      margin-bottom: 1.2rem;
      background-color: var(--color-white);

      .header {
        @include flexbox-row(space-between, center);
        margin-bottom: 0.3rem;
        padding: 0 0.7rem 0 0.5rem;

        .date {
          margin-bottom: 0.2rem;
          font-size: var(--text-size-base);
          color: var(--color-gray-4);
        }

        .totalExpense {
          @include flexbox-row;
          font-size: var(--text-size-md);
          font-weight: var(--font-weight-bold);
          color: var(--color-blue);

          span {
            font-size: var(--text-size-base);
            color: var(--color-gray-4);
            font-weight: var(--font-weight-regular);
          }
        }
      }

      .itemWrap {
        padding: 0.4rem 1rem;
        border: 1px solid var(--color-primary);
        border-radius: 1rem;
        cursor: pointer;

        .itemList {
          @include flexbox-row(space-between, center);

          .item {
            @include flexbox-column(center, flex-start);

            .title {
              font-size: var(--text-size-base);
              font-weight: var(--font-weight-bold);
            }

            .nameTagGroup {
              @include flexbox-row(flex-start, center);
              flex-wrap: wrap;
              gap: 0.3rem;
              margin-bottom: 0.3rem;

              .name {
                color: var(--color-gray-4);
              }

              .tag {
                width: fit-content;
                min-width: 2rem;
                padding: 0.1rem 0.5rem;
                color: var(--color-dark-pink);
                border: 1px solid var(--color-pink);
                border-radius: 0.8rem;
                text-align: center;
              }
            }
          }

          .price {
            font-size: var(--text-size-md);
            font-weight: var(--font-weight-bold);
            color: var(--color-blue);
          }
        }
      }
    }
  }

  .addNewItemButtonWrap {
    @include flexbox-column;
    position: fixed;
    bottom: 1.8rem;
    width: 84%;
    height: 5.5rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    background-color: var(--color-background);
    z-index: 200;

    &:hover {
      background-color: var(--color-gray-2);
    }

    .addNewItemButton {
      font-size: var(--text-size-md);
      color: var(--color-primary);
    }

    .addNewItemText {
      font-size: var(--text-size-base);
      font-weight: var(--font-weight-semibold);
      color: var(--color-primary);
    }
  }
}
