@import 'styles/mixins';

.header {
  @include flexbox-row(space-between, center);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-blue);
  z-index: 10;

  .time {
    font-weight: var(--font-weight-medium);
  }

  .status {
    @include flexbox-row;
    gap: 0.2rem;

    .wifi {
      margin-right: -0.1rem;
    }
  }
}
