@import 'styles/mixins';

.modalTitle {
  margin-bottom: 1.2rem;
  font-size: var(--text-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.mainContainer {
  width: 100%;
  max-height: 18rem;
  margin-bottom: 1.5rem;
  overflow-y: auto;

  .info {
    @include flexbox-row(space-between, center);
    margin-bottom: 1.5rem;

    .nameTagGroup {
      @include flexbox-row(flex-start, center);
      flex-wrap: wrap;
      gap: 0.3rem;
      margin-bottom: 0.3rem;

      .name {
        color: var(--color-gray-4);
      }

      .tag {
        width: fit-content;
        min-width: 2rem;
        padding: 0.1rem 0.5rem;
        color: var(--color-dark-pink);
        border: 1px solid var(--color-pink);
        border-radius: 0.8rem;
        text-align: center;
      }
    }

    .price {
      font-size: var(--text-size-lg);
      font-weight: var(--font-weight-bold);
      color: var(--color-blue);
    }
  }

  .totalExpense {
    @include flexbox-row(flex-end, center);
    font-size: var(--text-size-xl);
    font-weight: var(--font-weight-bold);
    color: var(--color-blue);

    span {
      font-size: var(--text-size-lg);
      color: var(--color-gray-5);
    }
  }
}

.actionButtonContainer {
  @include flexbox-row;
  margin-top: auto;
  gap: 0.7rem;

  .confirmButton {
    @include flexbox-row;
    flex: 1;
    height: 3rem;
    color: var(--color-white);
    border-radius: 6px;
    background: var(--color-primary);
    cursor: pointer;
  }

  .deleteButton {
    flex: 1;
    height: 3rem;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 6px;
    background: var(--color-white);
    cursor: pointer;
  }
}
