@import 'styles/mixins';

.inputGroupWrap {
  position: relative;
  width: 90%;

  .subTitle {
    font-size: var(--text-size-md);
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.5rem;
  }

  .inputItemGroup {
    position: relative;

    &.addedInputItemGroup {
      width: 100%;
    }

    .removeItemButton {
      position: absolute;
      top: 1rem;
      right: -1.8rem;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }

  .addItemButton {
    @include flexbox-row(flex-start, center);
    width: fit-content;
    padding: 0.5rem 0.8rem 0.5rem 0;
    margin-top: 1.5rem;
    font-size: 1.1rem;
    cursor: pointer;

    .addIcon {
      font-size: 1.4rem;
    }

    .addItemText {
      margin-top: -0.3rem;
      margin-left: 0.4rem;
    }
  }
}
