@import 'styles/mixins';

.inputGroup {
  @include flexbox-row(flex-start, center);
  position: relative;
  gap: 1rem;
  width: 90%;
  margin-bottom: 1.2rem;

  .selectedDate {
    margin-top: -0.4rem;
    font-size: var(--text-size-md);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
