@import 'src/styles/mixins';

.dateWrap {
  @include flexbox-row(flex-start, center);
  position: relative;
  gap: 0.8rem;
  margin-bottom: 1.2rem;

  .selectedDate {
    margin-top: -0.2rem;
    font-size: var(--text-size-lg);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
